SECRETKEY = testkey

DATABASE_HOST = host.com
DATABASE = database_name
DATABASE_USER = database_user
DATABASE_PASSWORD = database_password

TimeOut = 60000
InsecureAuth = true
ConnectionLimit = 20
PORT = deploy_port


EMAIL_HOST = smtp_hot
EMAIL_PORT = 465
EMAIL_PROTOCOL = true
EMAIL_FROM = smtp_email
EMAIL_PASSWORD = smtp_password

SHARED_STORAGE_DOMAIN=storage_domain
SHARED_STORAGE_USERNAME=storage_domain_username
SHARED_STORAGE_PASSWORD=storage_password
SHARED_STORAGE_URL=\\storage_url\shared

USER_AUTHENTICATOR_SERVER_IP=ldap://authenticationlocalserver
USER_AUTHENTICATOR_SERVER_BASE_DOMAIN=authentication_domain
USER_AUTHENTICATOR_SERVER_END_DOMAIN=com
USER_AUTHENTICATOR_SERVER_ADMIN=authentication_user
USER_AUTHENTICATOR_SERVER_ADMIN_PASSWORD=authentication_password