<div class ="loginlauncher">
   <div class="container">
      <div class="d-flex justify-content-center">
        <div class=row>
          <div class=col>
               <div class="card" style="width: 18rem;">
                  <div class="card-header">SBS ServiceApp</div>
                  <div class="card-body">
                     <form action="http://localhost:8087/api/login" method="POST">
                        <div class="mb-3">
                           <label for="email-reg" class="form-label">Email</label>
                           <input type="text" class="form-control" id="email-reg" name="email">
                        </div>
                        <div class="mb-3">
                           <label for="password-reg" class="form-label">Passwort</label>
                           <input type="password" class="form-control" id="password-reg" name="password">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                     </form>
                     <div class="loginerror">
                       <p>Server Error: Login nicht möglich</p>
                     </div>
                  </div>
               </div>
          </div>
          <div class=col>
            <div class=iconcontainer>
              <img src="http://localhost:8087/assets/img/logo-sbs.png" alt="test">
            </div>
          </div>
       </div>
      </div>
   </div>
</div>
