
<!DOCTYPE html>
<html>
<head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
      <meta name="viewport" content="width=device-width">

      <title>SBS ServiceApp</title>

      <base href="http://localhost:8087/">

      <link href="http://localhost:8087/assets/css/main.css" rel="stylesheet">
      <link href="http://localhost:8087/assets/css/main2.css" rel="stylesheet">
      <link href="http://localhost:8087/assets/css/main3.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
      <link rel="icon" type="image/png" sizes="96x96" href="http://localhost:8087/assets/img/favicon-sbs.png">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="http://localhost:8087/styles.css" media="print" onload="this.media='all'">
      <link rel="stylesheet" href="http://localhost:8087/styles.css">
</head>
<body>
      <app-root>
          <div class="loader-container">
              <div class="loader"></div>
          </div>
      </app-root>
  <script src="http://localhost:8087/runtime.js" type="module"></script>
  <script src="http://localhost:8087/polyfills.js" type="module"></script>

  <!-- Change this script for every view only -->
  <script src="http://localhost:8087/views/objectview/main.js" type="module"></script>

</body>
</html>
